@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3d3d4a;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c7a;
}
